#tableView {
    -fx-background-color: #1A1A1A;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #e0e0e0;
}

#tableView .column-header-background {
    -fx-background-color: #292929;
}

#tableView .column-header, #tableView .filler {
    -fx-background-color: #292929;
    -fx-border-width: 0 0 1px 0;
}

#tableView .column-header .label {
    -fx-text-fill: #ff5a36;
    -fx-font-weight: bolder;
}

#tableView .table-row-cell {
    -fx-background-color: #292929;
}

#tableView .table-cell {
    -fx-text-fill: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
}

#tableView .table-cell:hover {
    -fx-background-color: rgba(41, 41, 41, 0.7);
}

#tableView .scroll-bar {
    -fx-background-color: #292929;
}

#tableView .scroll-bar .thumb {
    -fx-background-color: linear-gradient(to bottom right, #8C0000, #FF0000);
}

/* Scroll Pane */
.scroll-pane {
    -fx-background-color: #292929;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.scroll-pane .viewport {
    -fx-background-color: #1A1A1A;
    -fx-background-radius: 5px;
}

/* Column Header */
.column-header .label {
    -fx-text-fill: #ff5a36;
    -fx-font-weight: bold;
}
